@page

<input id="eventMessage" />
<button id="eventBtn">Lanzar evento</button>
<br />
<button id="pushEventBtn">Lanzar Push</button>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>